@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00838f;
  --color-white: #ffffff;
  --secondary-background-color: #faf9f9;
  --text-color-light: #54565a;
  --text-color-dark: #131313;
  --text-color-gray: #2c2c2c;
  --text-color-white: #EEEFEF;
  --text-font-sm: 16px;
  --text-font-xsm: 14px;
  --text-font-xxl: 24px;

  --border-color-light: #cbcfcf;
}
body {
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
.txt-light {
  color: var(--text-color-light);
}
.txt-dark {
  color: var(--text-color-dark);
}
.btn {
  padding: 8px;
  margin: 0px 5px;
}
.btn-primary {
  background: var(--color-primary) !important;
  color: var(--color-white);
  border-radius: 4px;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 24px;
}
.btn-plain {
  color: var(--color-primary);
  border-radius: 4px;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 24px;
  border: 1px solid var(--color-primary);
}
.btn-white {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  border-radius: 4px;
}
.btn-price-action {
  width: 100%;
}
.btn-primary-text {
  color: var(--color-primary);
}
nav {
  padding: 30px 0px;
  font-size: var(--text-font-sm);
  color: var(--text-color-light);
  font-weight: 400;
}
nav .logo {
  width: 170px;
  height: 30px;
}
.navbar ul {
  gap: 24px;
}
.navbar ul li {
  text-decoration: none;
}

.navbar-mobile {
  height: 0px;
  overflow: hidden;
  transition: height 1s ease-in;;
}
.navbar-mobile li{
  margin: 20px;
  color: var(--text-color-light);
  font-weight: 400;
  border-bottom: 1px solid var(--border-color-light);
}

header .header-title {
  margin: 104px 0px 52px;
}
.shadow {
  box-shadow: 0px 4px 40px 0px #54565a4d;
}
.pricing-container {
  overflow: hidden;
}
.pricing-card {
  border: 1px solid var(--border-color-light);
  overflow: hidden;
}
.pricing-card .header {
  padding: 24px 32px;
  color: var(--color-white);
  font-weight: 600;
}
.pricing-card .type-free {
  background-color: #0ab0bf;
}
.border-top-free {
  border-top: 4px solid #0ab0bf;
}
.pricing-card .type-standard {
  background-color: #0069ce;
}
.border-top-standard {
  border-top: 4px solid #0069ce;
}
.pricing-card .type-pro {
  background-color: #ff8853;
}
.border-top-pro {
  border-top: 4px solid #ff8853;
}
.pricing-card .type-enterprise {
  background-color: #2c2c2c;
}
.border-top-enterprise {
  border-top: 4px solid #2c2c2c;
}
.pricing-card .info {
  padding: 32px;
  font-size: var(--text-font-xsm);
}
.pricing-card .info .head-line {
  height: calc(72px);
}
.pricing-card .info .price {
  font-size: var(--text-font-xxl);
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.info .features .item .desc {
  color: var(--text-color-light);
}
.feature-compare-container {
  margin: 124px 0px 0px;
}
.feature-compare-container .title {
  font-size: var(--text-font-xxl);
  margin-bottom: 92px;
  font-weight: 600;
}
.brands {
  margin: 92px 0px;
}
.brands img {
  height: 80x;
  max-width: 160px;
  margin: auto;
}
.blogs-container {
  background-color: var(--secondary-background-color);
  padding: 96px 0px 96px;
}
.blogs-container .title {
  font-size: var(--text-font-xxl);
  margin-bottom: 92px;
  font-weight: 400;
}
.blogs .blog-card {
  max-width: 360px;
  background-color: white;
  border: 1px solid var(--border-color-light);
  margin: auto;
}
.blogs .blog-card img {
  width: 100%;
  height: 200px;
}
.blogs .blog-card .content {
  font-size: var(--text-font-xxl);
  padding: 24px;
  height: 200px;
}

.feature-compare-container table thead th {
  padding: 20px;
  font-weight: 400;
  font-size: var(--text-font-sm);
  text-align: center;
  min-width: 186px;
  background: #faf9f9;
  font-weight: 600;
  color: var(--text-color-light);
  border-left: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
}
.feature-compare-container table thead th:first-child {
  background: none;
}

.feature-compare-container table tbody th,
td {
  padding: 20px;
  font-weight: 400;
  font-size: var(--text-font-sm);
  text-align: center;
  min-width: 186px;
  border: 1px solid var(--border-color-light);
  color: var(--text-color-gray);
}
.feature-compare-container table tbody tr td:nth-child(1) {
  padding-left: 0px;
  text-align: left;
  border-left: none;
  min-width: 384px;
}
.feature-compare-container table tbody img {
  margin: auto;
}
.feature-compare-container table tbody tr td:last-child {
  border-right: none;
}
.feature-compare-container table tbody td {
  color: var(--text-color-gray);
}

footer {
  background-color: var(--text-color-gray);
  color: var(  --text-color-white);
}
.footer-container {
  color: var(--color-white);
}

.footer-section-2 a{
  font-weight: 400;
  word-break: keep-all;
}

/* animations */
.fade-in-element {
  animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }
  to {
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}